/* 로그인 페이지 스타일 */
.loginContainer {
  height: 100%;
  max-width: 400px;
  margin: 0 5vh 5vh;
  padding: 10vh 0 5vh;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  background: none;
}

label {
  color: black;
  font-size: 15px;
  font-weight: 600;
}


.loginTitle {
  font-size: 24px;
  color: black;
  font-weight: 700;
  margin-bottom: 20px;
}

.page-content {
  height: 100vh;
  background: linear-gradient(to bottom, #d6fff9, #dbfff2, #d4ebff);
  overflow: hidden;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formGroup {
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid black; /* 하단 테두리만 설정 */
  outline: none;
  box-sizing: border-box;
  background: none;
}

input:focus {
  border-color: #b9dbff;
}


.errorMessage {
  font-size: 14px;
  color: #fd4b4b;
  font-weight: 600;
  margin-top: 5px;
}

.loginButton {
  background: linear-gradient(to right, #5e7d85, #9a8e88);
  color: white;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.loginButton:hover {
  background-color: #0056b3;
}

.registerLinkContainer {
  font-size: 14px;
  margin-top: 10px;
}

.registerLink {
  background: none;
  border: none;
  color: #1f8dff;
  cursor: pointer;
  font-size: 14px;
}

.registerLink:hover {
  color: #0056b3;
  text-decoration: none;
}