/* DailyForecast.js */
.icon {
  height: 40px;
  width: 40px;
}

/* Dashboard.js */
.cursorIcon {
    height: 20px;
    width: 20px;
}

.tempNow{
    font-size: larger;
}

.mainIcon{
    height: 45px;
    width: 65px;
}

/* SuperLayout.js */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

