/* DailyForecast.js */
.daily-forecast{
    background: rgba(255, 255, 255, 0.15); /* 반투명 흰색 */
    border-radius: 20px; /* 둥근 모서리 */
    padding: 16px;
    margin: 16px;
    backdrop-filter: blur(10px); /* 흐림 효과 */
    -webkit-backdrop-filter: blur(10px); /* 사파리용 */
    color: white;
    font-weight: 500;
  }
  
  .forecast-list{
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      gap: 20px;
  
      /*스크롤바 숨기기*/
      scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }
  
  .forecast-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  .icon {
    height: 40px;
    width: 40px;
  }
  
  /* Dashboard.js */
  .cursorIcon {
      height: 20px;
      width: 20px;
  }
  
  .tempNow{
      font-size: larger;
  }
  
  .mainIcon{
      height: 45px;
      width: 65px;
  }
  
  /*WeeklyForecast*/
  .weekly-forecast{
    background: rgba(255, 255, 255, 0.15); /* 반투명 흰색 */
    border-radius: 20px; /* 둥근 모서리 */
    padding: 16px;
    margin: 16px;
    backdrop-filter: blur(10px); /* 흐림 효과 */
    -webkit-backdrop-filter: blur(10px); /* 사파리용 */
    color: white;
    font-weight: 500;
  }
  
  .weekly-forecast span {
    margin-right: 1rem;
  }
  
  /* SuperLayout.js */
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  